In [1]:
import numpy as np
import pandas as pd

In [19]:
df = pd.DataFrame({'':['Meal','Who\'s cooking','Who\'s cleaning','Ingredient List'],'Dinner 1': ['Fish Tacos','Carmi','Ari',('Tortillas',
                                                                                                                        'Fish',
                                                                                                                        'Cheese',
                                                                                                                        'Cabbage',
                                                                                                                        'Sour Cream')], 'Dinner Two':['Caprese Pasta','Mom','Dad',('Pasta','Tomatoes')]})

In [20]:
df

,,Dinner 1,Dinner Two
0,Meal,Fish Tacos,Caprese Pasta
1,Who's cooking,Carmi,Mom
2,Who's cleaning,Ari,Dad
3,Ingredient List,"(Tortillas, Fish, Cheese, Cabbage, Sour Cream)","(Pasta, Tomatoes)"