## Introduction

#### Our goals today are to be able to: <br/>

- Investigate table data in Pandas
- Manipulate Pandas DataFrames

In [2]:
# list comprehension: List comprehension is an elegant way to define and create lists based on existing lists.

list_of_squares = []

for x in range (1,11):
    list_of_squares.append(x**2)

print(list_of_squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [3]:
#Instead of above...

[x**2 for x in range (1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [5]:
#dictionary comprehension

{x: x**2 for x in range (1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [8]:
# with an if statement
list_of_odd_squares= [x**2 for x in range (1,11) if x % 2 ==1]
list_of_odd_squares

[1, 9, 25, 49, 81]

Remember, every list comprehension can be rewritten in for loop, but every for loop can’t be rewritten in the form of list comprehension.

### Activation:

![excel2](img/excelpic2.jpg)

Most people have used Microsoft Excel or Google sheets. But what are the limitations of excel?

- [Take a minute to read this article](https://www.bbc.com/news/magazine-22223190)
- make a list of problems excel presents

How is using python different?

Python
- create documentation of processes as you code
- reduces chances for human error
- do "drag and drop"
- repeatable
- transparent

## Pandas

<img src="https://cdn-images-1.medium.com/max/1600/1*9IU5fBzJisilYjRAi-f55Q.png" width=600>  




- The data manipulation capabilities of Pandas are built on top of the numpy library.
- Pandas dataframe object represents a spreadsheet with cell values, column names, and row index labels.

### 1. Importing and reading data with Pandas!

#### Let's use pandas to read some csv files so we can interact with them.

In [9]:
# First, let's check which directory we are in so the files we expect to see are there.
!pwd
!ls -la

/Users/carmimedoff/Documents/Data Science/Code/hbs-ds-060120/module-1/day-5-pandas-1
total 48
drwxr-xr-x@  6 carmimedoff  staff    192 Jun  5 10:52 .
drwxr-xr-x@  8 carmimedoff  staff    256 Jun  5 10:52 ..
drwxr-xr-x@  3 carmimedoff  staff     96 Jun  5 10:36 .ipynb_checkpoints
drwxr-xr-x@  4 carmimedoff  staff    128 Jun  5 10:34 data
drwxr-xr-x@ 12 carmimedoff  staff    384 Jun  5 10:34 img
-rwxr-xr-x   1 carmimedoff  staff  22341 Jun  5 10:46 pandas-1.ipynb

In [15]:
import pandas as pd

example_csv = pd.read_csv('data/example1.csv')

There is also `read_excel`, `read_html`, and many other pandas `read_` functions.  
http://pandas.pydata.org/pandas-docs/stable/user_guide/io.html

In [14]:
!cat data/example1.csvb

Title1,Title2,Title3
one,two,three
example1,example2,example3

In [16]:
example_csv

     Title1    Title2    Title3
0       one       two     three
1  example1  example2  example3

In [11]:
example_csv.describe()

          Title1 Title2 Title3
count          2      2      2
unique         2      2      2
top     example1    two  three
freq           1      1      1

Try loading in the example file in the `data` directory called `made_up_jobs.csv` using pandas.

In [37]:
# read in your csv here!
muj = pd.read_csv('data/made_up_jobs.csv', index_col ='ID')

#To get rid of a meaningless index, look at the index_col piece above 

# remember that it's nice to be able to look at your data, so let's do that here, too.
muj.head()

             Name                       Job  Years Employed
ID
0    Bob Bobberty  Underwater Basket Weaver              13
1    Susan Smells             Salad Spinner               5
2   Alex Lastname      Productivity Manager               2
3         Rudy P.                Being cool              55
4         Rudy G.  Being compared to Rudy P              50

In [32]:
!cat data/made_up_jobs.csv

ID,Name,Job,Years Employed
0,Bob Bobberty,Underwater Basket Weaver,13
1,Susan Smells,Salad Spinner,5
2,Alex Lastname,Productivity Manager,2
3,Rudy P.,Being cool,55
4,Rudy G.,Being compared to Rudy P,50
5,Sir Wellington,Cheese Stacker, 10

### 2. Utilizing and identifying Pandas objects

- What is a DataFrame object and what is a Series object? 
- How are they different from Python lists?

These are questions we will cover in this section. To start, let's start with this list of fruits.

In [18]:
fruits = ['Apple', 'Orange', 'Watermelon', 'Lemon', 'Mango']

print(fruits)

['Apple', 'Orange', 'Watermelon', 'Lemon', 'Mango']

In [19]:
[x.lower() for x in fruits]

['apple', 'orange', 'watermelon', 'lemon', 'mango']

In [20]:
[x.upper() for x in fruits]

['APPLE', 'ORANGE', 'WATERMELON', 'LEMON', 'MANGO']

Using our list of fruits, we can create a pandas object called a 'series' which is much like an array or a vector.

In [21]:
fruits_series = pd.Series(fruits)
#Reminder: Series is a one-dimensional list

print(fruits_series)
type(fruits_series)

0         Apple
1        Orange
2    Watermelon
3         Lemon
4         Mango
dtype: object

pandas.core.series.Series

One difference between python **list objects** and pandas **series objects** is the fact that you can define the index manually for a **series objects**.

In [22]:
#Define the index manually

ind = ['a', 'b', 'c', 'd', 'e']

fruits_series = pd.Series(fruits, index=ind)

print(fruits_series)

a         Apple
b        Orange
c    Watermelon
d         Lemon
e         Mango
dtype: object

With a partner, create your own custom series from a list of lists.

In [23]:
list_of_lists = [['cat'], ['dog'], ['horse'], ['cow'], ['macaw']]

# create custom indices for your series
ind = ['a', 'b', 'c', 'd', 'e']

elements=[x[0].lower() for x in list_of_lists]

# create the series using your list objects
# You can use either a for loop or also pd.Series
list_of_lists_series = pd.Series(elements, index=ind)

# print your series
print(list_of_lists_series)
type(list_of_lists_series)

a      cat
b      dog
c    horse
d      cow
e    macaw
dtype: object

pandas.core.series.Series

In [30]:
list_of_lists = [['chanel'], ['gucci'], ['prada'], ['fendi'], ['pucci']]

# create custom indices for your series
ind = ['Like', 'Like', 'Like', 'Meh', 'Love']

elements=[x[0].lower() for x in list_of_lists]

# create the series using your list objects
# You can use either a for loop or also pd.Series
list_of_lists_series = pd.Series(elements, index=ind)

# print your series
print(list_of_lists_series)
type(list_of_lists_series)

Like    chanel
Like     gucci
Like     prada
Meh      fendi
Love     pucci
dtype: object

pandas.core.series.Series

We can do a simliar thing with Python dictionaries. This time, however, we will create a DataFrame object from a python dictionary.

In [42]:
# Dictionary with list object in values
student_dict = {
    'name': ['Samantha', 'Alex', 'Dante'],
    'age': ['35', '17', '26'],
    'city': ['Houston', 'Seattle', 'New york']
}

students_df = pd.DataFrame(student_dict)

students_df

       name age      city
0  Samantha  35   Houston
1      Alex  17   Seattle
2     Dante  26  New york

In [45]:
#to find data types of columns
students_df.dtypes

name    object
age     object
city    object
dtype: object

Let's change the data type of ages to int.

In [47]:
# We can also change a columns type but the change has to make sense.
students_df.age = students_df.age.astype(int)

#Uncomment line below and observe what happens when trying to convert student's name to int or float
#students_df.name = students_df.name.astype(int)

#How about what happens converting numeric to string
#students_df.age = students_df.age.astype(str)

students_df.dtypes

name    object
age      int64
city    object
dtype: object

We can also use a custom index for these items. For example, we might want them to be the individual student ID numbers.

In [ ]:
school_ids = ['1111', '1145', '0096']

# Notice here we use pd.DataFrame not pd.Series as we did for a pandas series.
students_df = pd.DataFrame(student_dict, index=school_ids)

students_df.head()

Using Pandas, we can also rename column names.

In [ ]:
students_df.columns = ['NAME', 'AGE', 'HOME']
students_df.head()

Or, we can also change the column names using the rename function.

In [ ]:
students_df.rename(columns={"AGE": "YEARS"})

In [ ]:
# Notice what happens when we print students_df

students_df

In [ ]:
# If you want the file to save over itself, use the option `inplace = True`.
students_df.rename(columns={'AGE': 'YEARS'}, inplace=True)
students_df.head()

Similarly, there is a tool to remove rows and columns from your DataFrame

In [ ]:
students_df.drop(columns=['YEARS', 'HOME'])

In [ ]:
#Notice again what happens if we print students_df 
students_df

In [ ]:
students_df.drop(columns=['YEARS', 'HOME'], inplace=True)
students_df

If you want the file to save over itself, use the option `inplace = True`.

Every function has options. Let's read more about `drop` [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html)

### 3. Filtering Data Using Pandas
There are several ways to grab particular data from a DataFrame. 
- Python lists allow for selection of data only through integer location. 
- You can use a single integer or slice notation to make the selection but NOT a list of integers.
- Dictionaries only allow selection with a single label. Slices and lists of labels are not allowed.

In [ ]:
l = [1, 2, 3, 4, 5]
l[[0, 5]]

### DataFrames can be indexed by column name (label) or row name (index) or by position.   
#### The `.loc` method is used for indexing by name.  
#### While `.iloc` is used for indexing by number.

In [ ]:
student_dict = {
    'name': ['Samantha', 'Alex', 'Dante'],
    'age': ['35', '17', '26'],
    'city': ['Houston', 'Seattle', 'New york']
}

students_df = pd.DataFrame(student_dict)

In [ ]:
students_df.loc[:, 'name']

### Let's take a look at `.iloc`
#### `.iloc` takes slices based on index position.
#### `.iloc` stands for integer location so that should help with remember what it does
#### `.iloc`[row , column]

In [ ]:
# returns the first row
students_df.iloc[0]

In [ ]:
# returns the first column
students_df.iloc[:, 0]

In [ ]:
# returns first two rows notice that ILOC performs regular python slicing.
students_df.iloc[0:2]

In [ ]:
# returns the first two columns
students_df.iloc[:, 0:2]

In [ ]:
# returns first row and columns 1 and 2
students_df.iloc[0:1, 0:2]

### How would we use `.iloc` to return the last item in the last row?

In [ ]:
# return the last item in the last row using iloc

### How would we use `.iloc` to return the last item in the last column?

In [ ]:
# return the last item in the last column using iloc

### What if we only want certain columns or rows?

In [ ]:
# Don't do students_df.iloc[0, 2]
students_df.iloc[[0, 2]]

In [ ]:
students_df.iloc[[0, 2], [0, 2]]

### Let's take a look at `.loc`
#### Label based method. 
#### Names or labels of the index is used when taking slices.
#### Also supports boolean subsetting.

In [ ]:
# We will use loc to return rows and columns based on labels. Let's look at the students_df DataFrame again.
students_df

In [ ]:
# returns the student information associated with index 0
students_df.loc[0]

In [ ]:
# returns the student information for row index 0 to 2 inclusive.
# note iloc would return normal python slicing not including 2 as demonstrated above.
students_df.loc[0:2]

In [ ]:
# returns the column labeled 'age'
students_df.loc[:, 'age']

In [ ]:
# returns the column labeled 'age' and index values 1 to 2.
# gives us the values of the rows with index from 1 to 2 (inclusive)
# and columns labeled age"
students_df.loc[1:2, 'age']

In [ ]:
# returns the column labeled 'age' and index values 1 to 2.
# gives us the values of the rows with index from 1 to 2 (inclusive)
# and columns labeled age to city (inclusive)"
students_df.loc[1:2, 'age':'city']

In [48]:
# What should we get?
students_df.loc[1:2, ['name', 'city']]

    name      city
1   Alex   Seattle
2  Dante  New york

In [49]:
# How about?
students_df.loc[[0, 2], ['name', 'city']]

       name      city
0  Samantha   Houston
2     Dante  New york

In [51]:
# if index rearranged
school_ids = ['5', '11', '3']
students_df = pd.DataFrame(student_dict, index=school_ids)

In [52]:
students_df

        name age      city
5   Samantha  35   Houston
11      Alex  17   Seattle
3      Dante  26  New york

In [53]:
# What should we get now?
students_df.loc[[0, 2], ['name', 'city']]

KeyError: "None of [Int64Index([0, 2], dtype='int64')] are in the [index]"

In [54]:
# What should we get now?
students_df.loc[['5', '11'], ['name', 'city']]

        name     city
5   Samantha  Houston
11      Alex  Seattle

In [55]:
students_df.set_index("name", inplace=True)
students_df

         age      city
name
Samantha  35   Houston
Alex      17   Seattle
Dante     26  New york

In [56]:
students_df.loc[['Samantha']]

         age     city
name
Samantha  35  Houston

In [57]:
# Subsetting nonconsecutive rows
students_df.loc[['Samantha', 'Dante']]

         age      city
name
Samantha  35   Houston
Dante     26  New york

In [58]:
# Samantha to the end
students_df.loc['Samantha':]

         age      city
name
Samantha  35   Houston
Alex      17   Seattle
Dante     26  New york

In [62]:
# return the first and last rows using one loc command
students_df.loc[0]

TypeError: cannot do label indexing on <class 'pandas.core.indexes.base.Index'> with these indexers [0] of <class 'int'>

### Boolean Subsetting

In [ ]:
student_dict = {
    'name': ['Samantha', 'Alex', 'Dante', 'Samantha'],
    'age': ['35', '17', '26', '21'],
    'city': ['Houston', 'Seattle', 'New york', 'Atlanta'],
    'state': ['Texas', 'Washington', 'New York', 'Georgia']
}

students_df = pd.DataFrame(student_dict)

In [ ]:
# The statement data[‘name’] == ‘Samantha’] produces a Pandas Series with a True/False value for every row
# in the ‘data’ DataFrame, where there are “True” values for the rows where the name is “Samantha”.
# These type of boolean arrays can be passed directly to the .loc indexer.
students_df.loc[students_df['name'] == 'Samantha']

In [ ]:
# What about if we only want the city and state of the selected students with the name Samantha?
students_df.loc[students_df['name'] == 'Samantha', ['city', 'state']]

In [ ]:
# What amount if we want to select a student of a specific age?
students_df.loc[students_df['age'] == '21']

In [ ]:
# What amount if we want to select a student of a specific age?
students_df.loc[(students_df['age'] == '21') &
                (students_df['city'] == 'Atlanta')]

In [ ]:
# What should be returned?
students_df.loc[(students_df['age'] == '35') &
                (students_df['city'] == 'Atlanta')]