# Module 1 - Manipulating data with Pandas (continued)
## Pandas Part 2

![austin](http://www.austintexas.gov/sites/default/files/aac_logo.jpg)

## Scenario:
You have decided that you want to start your own animal shelter, but you want to get an idea of what that will entail and get more information about planning. In this lecture, we are continue to look at a real data set collected by [Austin Animal Center](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Intakes/wter-evkm) over several years and use our Pandas skills from last class and learn some new ones in order to explore this data further.

#### *Our goals today are to be able to*:  

Use the pandas library to:

- Get summary info about a dataset and its variables
  - Apply and use info, describe and dtypes
  - Use `mean`, `min`, `max`, and `value_counts` 
- Use `apply` and `applymap` to transform columns and create new values

- Explain lambda functions and use them to use an apply on a DataFrame
- Explain what a `groupby` object is and split a DataFrame using `groupby`
- Reshape a DataFrame using joins, merges, pivoting, stacking, and melting

## Getting started

Before we look at the animal shelter data, let's practice on a simpler dataset.
Read about this dataset here: https://www.kaggle.com/ronitf/heart-disease-uci
![heart-data](images/heartbloodpres.jpeg)

The dataset is most often used to practice classification algorithms. Can one develop a model to predict the likelihood of heart disease based on other measurable characteristics? We will return to that specific question in a few weeks, but for now we wish to use the dataset to practice some pandas methods.

### 1. Get summary info about a dataset and its variables

Applying and using `info`, `describe`, `mean`, `min`, `max`, `apply`, and `applymap` from the Pandas library

The Pandas library has several useful tools built in. Let's explore some of them.

In [76]:
!pwd
!ls -al

/Users/carmimedoff/Documents/Data Science/Code/hbs-ds-060120/module-1/day-6-pandas-2
total 40
drwxr-xr-x@ 6 carmimedoff  staff    192 Jun  8 11:40 .
drwxr-xr-x@ 9 carmimedoff  staff    288 Jun  8 11:40 ..
drwxr-xr-x@ 3 carmimedoff  staff     96 Jun  8 11:40 .ipynb_checkpoints
drwxr-xr-x@ 3 carmimedoff  staff     96 Jun  8 11:14 data
drwxr-xr-x@ 4 carmimedoff  staff    128 Jun  8 11:14 images
-rw-r--r--  1 carmimedoff  staff  20428 Jun  8 15:30 manipulating_data_with_pandas.ipynb

In [77]:
import pandas as pd
uci = pd.read_csv('data/heart.csv')

In [78]:
uci.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

#### The `.columns` and `.shape` Attributes

In [79]:
uci.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [80]:
uci.shape

(303, 14)

#### The `.info() `and `.describe()` and `.dtypes` methods

Pandas DataFrames have many useful methods! Let's look at `.info()` , `.describe()`, and `dtypes`.

In [81]:
# Call the .info() method on our dataset. What do you observe?

uci.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [82]:
# Call the .describe() method on our dataset. What do you observe?

uci.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [83]:
# Use the code below. How does the output differ from info() ?
uci.dtypes

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
target        int64
dtype: object

#### `.mean()`, .`min()`,` .max()`, `.sum()`

The methods `.mean()`, `.min()`, and `.max()` will perform just the way you think they will!

Note that these are methods both for Series and for DataFrames.

In [84]:
uci.ca.mean()

0.7293729372937293

#### The Axis Variable

In [85]:
uci.sum() # Try [shift] + [tab] here!

age         16473.0
sex           207.0
cp            293.0
trestbps    39882.0
chol        74618.0
fbs            45.0
restecg       160.0
thalach     45343.0
exang          99.0
oldpeak       315.0
slope         424.0
ca            221.0
thal          701.0
target        165.0
dtype: float64

#### .`value_counts()`

For a DataFrame _Series_, the `.value_counts()` method will tell you how many of each value you've got.

In [86]:
uci['age'].value_counts(ascending=True)

29     1
74     1
76     1
77     1
37     2
34     2
38     3
69     3
71     3
40     3
70     4
68     4
35     4
39     4
47     5
49     5
46     7
48     7
50     7
66     7
43     8
65     8
61     8
53     8
42     8
45     8
55     8
67     9
63     9
41    10
64    10
56    11
60    11
44    11
62    11
51    12
52    13
59    14
54    16
57    17
58    19
Name: age, dtype: int64

Exercise: What are the different values for restecg?

In [87]:
# Your code here!
uci['restecg'].value_counts()

1    152
0    147
2      4
Name: restecg, dtype: int64

In [88]:
type(uci['restecg'].value_counts())

pandas.core.series.Series

In [89]:
uci.restecg.unique()

array([0, 1, 2])

In [90]:
age_counts = pd.DataFrame(uci.age.value_counts())
age_counts.columns = ('count')
age_counts = age_counts.reset_index()
age_counts

TypeError: Index(...) must be called with a collection of some kind, 'count' was passed

### Apply to Animal Shelter Data
Using `.info()` and `.describe()` and `dtypes` what observations can we make about the data?

What are the breed value counts? What's the top breed for adopted dogs?

How about age counts for dogs?

In [ ]:
animal_outcomes = pd.read_csv('https://data.austintexas.gov/api/views/9t4d-g238/rows.csv?accessType=DOWNLOAD')

In [ ]:
animal_outcomes.info()

In [ ]:
animal_outcomes.Breed.value_counts()

In [ ]:
animal_outcomes.Breed.unique()

In [ ]:
animal_outcomes['Animal Type'].unique()

In [ ]:
animal_outcomes['Animal Type'] == 'Dog'

In [ ]:
animal_outcomes.loc[animal_outcomes['Animal Type'] == 'Dog','Breed'].head()

In [ ]:
(animal_outcomes['Animal Type'] == 'Dog') & (animal_outcomes['Outcome Type']=='Adoption')

In [ ]:
animal_outcomes.loc[(animal_outcomes['Animal Type'] == 'Dog') & 
                    (animal_outcomes['Outcome Type']=='Adoption'),'Breed'].value_counts()

In [ ]:
animal_outcomes.loc[animal_outcomes['Age upon Outcome']]

In [ ]:
animal_outcomes.Name.value_counts()

What are the breed `value_counts`?
What's the top breed for adopted dogs?

How about outcome counts for dogs?

### 2.  Changing data

#### DataFrame.applymap() and Series.map()

The ```.applymap()``` method takes a function as input that it will then apply to every entry in the dataframe.

In [ ]:
def successor(x):
    return x + 1

In [ ]:
successor(7)

In [ ]:
uci.applymap(successor).head()

The `.map()` method takes a function as input that it will then apply to every entry in the Series.

In [ ]:
uci['age'].map(successor).tail(10)

#### Anonymous Functions (Lambda Abstraction)

Simple functions can be defined right in the function call. This is called 'lambda abstraction'; the function thus defined has no name and hence is "anonymous".

In [ ]:
uci.oldpeak

In [ ]:
uci['newpeak']=uci['oldpeak'].map(lambda x: round(x))[:4]

In [ ]:
def new_round_func(x):
    return round(x)

In [ ]:
uci.newpeak

Exercise: Use an anonymous function to turn the entries in age to strings

In [ ]:
uci.age.map(lambda x: str(x))

### Apply to Animal Shelter Data

Use an `apply` to change the dates from strings to datetime objects. Similarly, use an apply to change the ages of the animals from strings to floats.

In [91]:
animal_outcomes

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,A794011,Chunk,05/08/2019 06:20:00 PM,05/08/2019 06:20:00 PM,05/02/2017,Rto-Adopt,NaN,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White
1,A776359,Gizmo,07/18/2018 04:02:00 PM,07/18/2018 04:02:00 PM,07/12/2017,Adoption,NaN,Dog,Neutered Male,1 year,Chihuahua Shorthair Mix,White/Brown
2,A720371,Moose,02/13/2016 05:59:00 PM,02/13/2016 05:59:00 PM,10/08/2015,Adoption,NaN,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff
3,A674754,NaN,03/18/2014 11:47:00 AM,03/18/2014 11:47:00 AM,03/12/2014,Transfer,Partner,Cat,Intact Male,6 days,Domestic Shorthair Mix,Orange Tabby
4,A689724,*Donatello,10/18/2014 06:52:00 PM,10/18/2014 06:52:00 PM,08/01/2014,Adoption,NaN,Cat,Neutered Male,2 months,Domestic Shorthair Mix,Black
...,...,...,...,...,...,...,...,...,...,...,...,...
118002,A818396,NaN,06/08/2020 12:09:00 PM,06/08/2020 12:09:00 PM,03/24/2020,Transfer,Partner,Dog,Intact Male,2 months,Chihuahua Shorthair Mix,Red
118003,A749467,Chloe,06/08/2020 12:14:00 PM,06/08/2020 12:14:00 PM,04/23/2017,Rto-Adopt,NaN,Cat,Spayed Female,3 years,Domestic Medium Hair Mix,Brown Tabby/White
118004,A817497,*Applesauce,06/08/2020 12:00:00 PM,06/08/2020 12:00:00 PM,11/17/2018,Adoption,NaN,Dog,Spayed Female,1 year,Pit Bull,Blue/White
118005,A817846,*Sweet,06/08/2020 12:56:00 PM,06/08/2020 12:56:00 PM,12/12/2019,Adoption,NaN,Dog,Neutered Male,5 months,Labrador Retriever,Black/White
118006,A815288,Bella,06/08/2020 01:00:00 PM,06/08/2020 01:00:00 PM,03/13/2019,Adoption,NaN,Dog,Spayed Female,1 year,Anatol Shepherd,Fawn

In [95]:
pd.to_datetime(animal_outcomes.DateTime)

0        2019-05-08 18:20:00
1        2018-07-18 16:02:00
2        2016-02-13 17:59:00
3        2014-03-18 11:47:00
4        2014-10-18 18:52:00
                 ...
118002   2020-06-08 12:09:00
118003   2020-06-08 12:14:00
118004   2020-06-08 12:00:00
118005   2020-06-08 12:56:00
118006   2020-06-08 13:00:00
Name: DateTime, Length: 118007, dtype: datetime64[ns]

In [96]:
animal_outcomes

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,A794011,Chunk,05/08/2019 06:20:00 PM,05/08/2019 06:20:00 PM,05/02/2017,Rto-Adopt,NaN,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White
1,A776359,Gizmo,07/18/2018 04:02:00 PM,07/18/2018 04:02:00 PM,07/12/2017,Adoption,NaN,Dog,Neutered Male,1 year,Chihuahua Shorthair Mix,White/Brown
2,A720371,Moose,02/13/2016 05:59:00 PM,02/13/2016 05:59:00 PM,10/08/2015,Adoption,NaN,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff
3,A674754,NaN,03/18/2014 11:47:00 AM,03/18/2014 11:47:00 AM,03/12/2014,Transfer,Partner,Cat,Intact Male,6 days,Domestic Shorthair Mix,Orange Tabby
4,A689724,*Donatello,10/18/2014 06:52:00 PM,10/18/2014 06:52:00 PM,08/01/2014,Adoption,NaN,Cat,Neutered Male,2 months,Domestic Shorthair Mix,Black
...,...,...,...,...,...,...,...,...,...,...,...,...
118002,A818396,NaN,06/08/2020 12:09:00 PM,06/08/2020 12:09:00 PM,03/24/2020,Transfer,Partner,Dog,Intact Male,2 months,Chihuahua Shorthair Mix,Red
118003,A749467,Chloe,06/08/2020 12:14:00 PM,06/08/2020 12:14:00 PM,04/23/2017,Rto-Adopt,NaN,Cat,Spayed Female,3 years,Domestic Medium Hair Mix,Brown Tabby/White
118004,A817497,*Applesauce,06/08/2020 12:00:00 PM,06/08/2020 12:00:00 PM,11/17/2018,Adoption,NaN,Dog,Spayed Female,1 year,Pit Bull,Blue/White
118005,A817846,*Sweet,06/08/2020 12:56:00 PM,06/08/2020 12:56:00 PM,12/12/2019,Adoption,NaN,Dog,Neutered Male,5 months,Labrador Retriever,Black/White
118006,A815288,Bella,06/08/2020 01:00:00 PM,06/08/2020 01:00:00 PM,03/13/2019,Adoption,NaN,Dog,Spayed Female,1 year,Anatol Shepherd,Fawn

In [99]:
import datetime

datetime.date.today()--datetime.date(2010-5-15)

TypeError: function missing required argument 'month' (pos 2)

## 3. Methods for Re-Organizing DataFrames
#### `.groupby()`

Those of you familiar with SQL have probably used the GROUP BY command. Pandas has this, too.

The `.groupby()` method is especially useful for aggregate functions applied to the data grouped in particular ways.

In [ ]:
uci.groupby('sex')

#### `.groups` and `.get_group()`

In [ ]:
uci.groupby('sex').groups

In [ ]:
uci.groupby('sex').get_group(0) # .tail()

### Aggregating

In [ ]:
uci.groupby('sex').std()

Exercise: Tell me the average cholesterol level for those with heart disease.

In [ ]:
# Your code here!

### Apply to Animal Shelter Data

#### Task 1
- Use a groupby to show the average age of the different kinds of animal types.
- What about by animal types **and** gender?

#### Task 2:
- Create new columns `year` and `month` by using a lambda function x.year on date
- Use `groupby` and `.size()` to tell me how many animals are adopted by month

In [ ]:
# Your code here

## 4. Reshaping a DataFrame

### `.pivot()`

Those of you familiar with Excel have probably used Pivot Tables. Pandas has a similar functionality.

In [ ]:
uci.pivot(values='sex', columns='target').head()

### Methods for Combining DataFrames: `.join()`, `.merge()`, `.concat()`, `.melt()`

### `.join()`

In [ ]:
toy1 = pd.DataFrame([[63, 142], [33, 47]], columns = ['age', 'HP'])
toy2 = pd.DataFrame([[63, 100], [33, 200]], columns = ['age', 'HP'])

In [ ]:
toy1.join(toy2.set_index('age'),
          on = 'age',
          lsuffix = '_A',
          rsuffix = '_B').head()

### `.merge()`

In [ ]:
ds_chars = pd.read_csv('data/ds_chars.csv', index_col = 0)

In [ ]:
states = pd.read_csv('data/states.csv', index_col = 0)

In [ ]:
ds_chars.merge(states,
               left_on='home_state',
               right_on = 'state',
               how = 'inner')

### `pd.concat()`

Exercise: Look up the documentation on pd.concat (https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.concat.html) and use it to concatenate ds_chars and states.
<br/>
Your result should still have only five rows!

In [ ]:
pd.concat([ds_chars, states], sort=False)

### `pd.melt()`

Melting removes the structure from your DataFrame and puts the data in a 'variable' and 'value' format.

In [ ]:
ds_chars.head()

In [ ]:
pd.melt(ds_chars,
        id_vars=['name'],
        value_vars=['HP', 'home_state'])

## Bringing it all together with the Animal Shelter Data

Join the data from the [Austin Animal Shelter Intake dataset](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Intakes/wter-evkm) to the outcomes dataset by Animal ID.

Use the dates from each dataset to see how long animals spend in the shelter. Does it differ by time of year? By outcome?

_Hints_ :
- import and clean the intake dataset first
- use `apply`/`applymap`/`lambda` to change the variables to their proper format in the intake data
- rename the columns in the intake dataset *before* joining
- create a new `days-in-shelter` column
- Notice that some values in `days_in_shelter` are `NaN` or values < 0 (remove these rows using the "<" operator and `isna()` or `dropna()`)
- Use `groupby` to get aggregate information about the dataset (your choice)

To save your dataset:
Use the notation `df.to_csv()` or `df.to_excel()` to write the `df` to a csv. Read more about the `to_csv()` documentation [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_csv.html)

In [ ]:
#code here